In [6]:
import pandas as pd

frecuencias=pd.read_excel('1inicio.xlsx',skiprows=[0,1])
frecuencias

,id,show_id,type,title,director,cast,num_actors,main_country,countries_produced,num_countries,...,main_genre,listed_in.1,genres_listed,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,3778,s3778,Movie,Silent,"Limbert Fabian, Brandon Oldenburg",NaN,0,United States,United States,1,...,Children & Family Movies,"Children & Family Movies, Sci-Fi & Fantasy",2,NaN,NaN,NaN,NaN,NaN,NaN,9324.798752
1,2714,s2714,Movie,Sol Levante,Akira Saitoh,NaN,0,Japan,Japan,1,...,Action & Adventure,"Action & Adventure, Anime Features, Internatio...",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1485,s1485,Movie,Cops and Robbers,"Arnon Manor, Timothy Ware-Hill",Timothy Ware-Hill,1,United States,United States,1,...,Dramas,Dramas,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1558,s1558,Movie,Canvas,Frank E. Abney III,NaN,0,United States,United States,1,...,Children & Family Movies,"Children & Family Movies, Dramas",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3536,s3536,Movie,American Factory: A Conversation with the Obamas,NaN,"President Barack Obama, Michelle Obama, Julia ...",4,United States,United States,1,...,Documentaries,Documentaries,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,8796,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...",5,Japan,"Japan, Canada",2,...,Anime Series,"Anime Series, Kids' TV",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803,8797,s8797,TV Show,Yunus Emre,NaN,"G√∂khan Atalay, Payidar T√ºfek√ßioglu, Baran A...",18,Turkey,Turkey,1,...,International TV Shows,"International TV Shows, TV Dramas",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8804,8798,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...",7,United States,"United States, France, South Korea, Indonesia",4,...,Kids' TV,Kids' TV,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,8801,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",9,Pakistan,Pakistan,1,...,International TV Shows,"International TV Shows, Romantic TV Shows, TV ...",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,8804,s8804,TV Show,Zombie Dumb,NaN,NaN,0,NaN,NaN,0,...,Kids' TV,"Kids' TV, Korean TV Shows, TV Comedies",3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pais=pd.DataFrame(data=frecuencias,columns=('main_country','title'))
pais

       main_country                                             title
0     United States                                            Silent
1             Japan                                       Sol Levante
2     United States                                  Cops and Robbers
3     United States                                            Canvas
4     United States  American Factory: A Conversation with the Obamas
...             ...                                               ...
8802          Japan                                   Yu-Gi-Oh! Arc-V
8803         Turkey                                        Yunus Emre
8804  United States                                         Zak Storm
8805       Pakistan                                Zindagi Gulzar Hai
8806            NaN                                       Zombie Dumb

[8807 rows x 2 columns]

In [12]:

pais_frecuencia=pais['main_country'].value_counts()
pais_frecuencia

main_country
United States     3211
India             1008
United Kingdom     628
Canada             271
Japan              259
                  ...
Luxembourg           1
Senegal              1
Belarus              1
Puerto Rico          1
Cyprus               1
Name: count, Length: 85, dtype: int64

In [13]:
pais_frecuencia_relativa=pais['main_country'].value_counts(normalize=True)*100
pais_frecuencia_relativa

main_country
United States     40.258275
India             12.637914
United Kingdom     7.873621
Canada             3.397693
Japan              3.247242
                    ...
Luxembourg         0.012538
Senegal            0.012538
Belarus            0.012538
Puerto Rico        0.012538
Cyprus             0.012538
Name: proportion, Length: 85, dtype: float64

In [14]:
periodo_estreno=pd.DataFrame(data=frecuencias,columns=('release_year','title'))
periodo_estreno

      release_year                                             title
0             2014                                            Silent
1             2020                                       Sol Levante
2             2020                                  Cops and Robbers
3             2020                                            Canvas
4             2019  American Factory: A Conversation with the Obamas
...            ...                                               ...
8802          2015                                   Yu-Gi-Oh! Arc-V
8803          2016                                        Yunus Emre
8804          2016                                         Zak Storm
8805          2012                                Zindagi Gulzar Hai
8806          2018                                       Zombie Dumb

[8807 rows x 2 columns]

In [21]:
periodo_estreno['decade']=(periodo_estreno['release_year'] // 10)*10
periodo_estreno_decada_frecuencia=periodo_estreno.groupby('decade').size()
periodo_estreno_decada_frecuencia

decade
1920       1
1940      15
1950      11
1960      25
1970      70
1980     129
1990     274
2000     810
2010    5927
2020    1545
dtype: int64